/session2-mvc/nbproject/private/
/session2-mvc/build/
/session2-mvc/dist/
/EX1/nbproject/private/
/EX1/dist/
/EX1/build/
/session3-jdbc/nbproject/private/
/session3-jdbc/build/
/session3-jdbc/dist/
/EX2/nbproject/private/
/EX2/dist/
/EX2/build/
/test/nbproject/private/
/test/dist/
/test/build/
/EX2-1/nbproject/private/
/EX2-1/build/
/EX2-1/dist/
/session4-jdbc/nbproject/private/
/session4-jdbc/build/
/session4-jdbc/dist/
/session5-fc/nbproject/private/
/session5-fc/build/
/session5-fc/dist/
/Ex3/nbproject/private/
/EX3/nbproject/private/
/EX3/dist/
/EX3/build/
/session6-layout/nbproject/private/
/session6-layout/dist/
/session6-layout/build/
/session7-jdbc/nbproject/private/
/session7-jdbc/build/
/session7-jdbc/dist/
/session8-bootstrap/nbproject/private/
/session8-bootstrap/build/
/session8-bootstrap/dist/
/session9-petstore/nbproject/private/
/session9-petstore/dist/
/session9-petstore/build/
/Session9-PetStore/nbproject/private/
/Session9-PetStore/dist/
/Session9-PetStore/build/
/session9-PetStore2/nbproject/private/
/session9-PetStore2/dist/
/session9-PetStore2/build/
/session10-login/nbproject/private/
/session10-login/build/
/session10-login/dist/
/PE_PRJ301/dist/
/PE_PRJ301_1/nbproject/private/
/PE_PRJ301_1/build/
/PE_PRJ301_1/dist/
/Ex04/nbproject/private/
/Ex04/dist/
/Ex04/build/
/Paint-Store/build/
/Paint-Store/dist/