/session2-mvc/nbproject/private/
/session2-mvc/build/
/session2-mvc/dist/
/EX1/nbproject/private/
/EX1/dist/
/EX1/build/
/session3-jdbc/nbproject/private/
/session3-jdbc/build/
/session3-jdbc/dist/
/EX2/nbproject/private/
/EX2/dist/
/EX2/build/
/test/nbproject/private/
/test/dist/
/test/build/
/EX2-1/nbproject/private/
/EX2-1/build/
/EX2-1/dist/