/session2-mvc/nbproject/private/
/session2-mvc/build/
/session2-mvc/dist/
/EX1/nbproject/private/
/EX1/dist/
/EX1/build/
/session3-jdbc/nbproject/private/
/session3-jdbc/build/
/session3-jdbc/dist/
/EX2/nbproject/private/
/EX2/dist/
/EX2/build/
/test/nbproject/private/
/test/dist/
/test/build/
/EX2-1/nbproject/private/
/EX2-1/build/
/EX2-1/dist/
/session4-jdbc/nbproject/private/
/session4-jdbc/build/
/session4-jdbc/dist/
/session5-fc/nbproject/private/
/session5-fc/build/
/session5-fc/dist/
/Ex3/nbproject/private/
/EX3/nbproject/private/
/EX3/dist/
/EX3/build/
/session6-layout/nbproject/private/
/session6-layout/dist/
/session6-layout/build/
/session7-jdbc/nbproject/private/
/session7-jdbc/build/
/session7-jdbc/dist/
/session8-bootstrap/nbproject/private/
/session8-bootstrap/build/
/session8-bootstrap/dist/
/session9-petstore/nbproject/private/
/session9-petstore/dist/
/session9-petstore/build/
/Session9-PetStore/nbproject/private/
/Session9-PetStore/dist/
/Session9-PetStore/build/
/session9-PetStore2/nbproject/private/
/session9-PetStore2/dist/
/session9-PetStore2/build/
/session10-login/nbproject/private/
/session10-login/build/
/session10-login/dist/
/PE_PRJ301/dist/
/PE_PRJ301_1/nbproject/private/
/PE_PRJ301_1/build/
/PE_PRJ301_1/dist/
/Ex04/nbproject/private/
/Ex04/dist/
/Ex04/build/
/Paint-Store/build/
/Paint-Store/dist/
/Hashing/nbproject/private/
/Hashing/build/
/EX5/build/
/EX5/dist/
/asm/nbproject/private/
/asm/build/
/asm/dist/
/assignment/nbproject/private/
/session11-jsp/nbproject/private/
/session11-jsp/dist/
/session11-jsp/build/
/session12-include/nbproject/private/
/session12-include/build/
/session12-include/dist/
/session13-init-params/nbproject/private/
/asm1/nbproject/private/
/asm1/dist/
/asm1/build/
/shoestest/nbproject/private/
/shoestest/dist/
/shoestest/build/
/testing/nbproject/private/
/testing/dist/
/testing/build/
/session14-EL/nbproject/private/
/session14-EL/build/
/session14-EL/dist/
/international-site/nbproject/private/
/international-site/build/
/international-site/dist/
/ShoesStore/nbproject/private/
/ShoesStore/dist/
/ShoesStore/build/
/session16-custom-tags/nbproject/private/
/session17-filter/nbproject/private/
/Session16-Custom-Tags/nbproject/private/
/session17-filter/build/
/mas/nbproject/private/
/mas/build/
/PE_PRJ301_SP24_135246/PaperNo_3/1/PE_PRJ301/nbproject/private/
/PE_PRJ301_EX/build/
/PE_PRJ301_EX/dist/
/mas/dist/
/PE_PRJ301_180852/PaperNo_6/1/PRJ301_PE/nbproject/private/
/PE_PRJ301_180852/PaperNo_6/1/PRJ301_PE/build/
/PE_PRJ301_SP24_135246/PaperNo_3/1/PE_PRJ301/dist/
/PE_PRJ301_SP24_135246/PaperNo_3/1/PE_PRJ301/build/
/PE_PRJ301_180852/PaperNo_6/1/PRJ301_PE/dist/
/PE-REVIEW/nbproject/private/
/PE-REVIEW/build/
/PE-REVIEW/dist/
/PE_PRJ301_SP24_357468/PaperNo_1/1/PE_PRJ301/build/
/PE_PRJ301_SP24_357468/PaperNo_1/1/PE_PRJ301/dist/
/PE_PRJ301_SP24_3W_050692/PaperNo_3/1/PE_PRJ301/nbproject/private/
/PE_PRJ301_SP24_3W_050692/PaperNo_3/1/PE_PRJ301/build/
/PE_PRJ301_SP24_3W_050692/PaperNo_3/1/PE_PRJ301/dist/
/PE_PRJ301_180852/PaperNo_6/1/PRJ301_PE-180852_copy/nbproject/private/
/PRJ301_PE-180852-copy/nbproject/private/
/PRJ301_PE-180852-copy/build/
/PRJ301_PE-180852-copy/dist/
/PE_PRJ301_SP24_468357/PaperNo_1/1/PE_PRJ301/nbproject/private/
/PE_PRJ301_SP24_468357/PaperNo_1/1/PE_PRJ301/build/
/PE_PRJ301_SP24_468357/PaperNo_1/1/PE_PRJ301/dist/
/PE_PRJ301_1_769845/PaperNo_3/1/PE_PRJ301/nbproject/private/
/PE_PRJ301_1_769845/Q1/Src/nbproject/private/
/PE_PRJ301_1_769845/PaperNo_3/1/PE_PRJ301/build/