.brand  {

}

.search button,
.search button:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.search button:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'BUY THE PRODUCT P/S';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.search button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .search button,
    .search button:after {
        width: 402px;
        height: 40px;
        line-height: 20px;
    }
}
.search input {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    /*  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);*/
    color: currentColor;
    background: transparent;
    /*  border-radius: var(--size-radius);*/
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
}

.search input::placeholder {
    /*  color: var(--color-text);*/
    opacity: 0.6;
}

.search input:focus {
    outline: none;
    /*  border-color: var(--color-accent);*/
}

.search input:focus + .input__label,
.search input:not(:placeholder-shown) + .input__label {
    transform: translate(.25rem, -65%) scale(.8);
    /*  color: var(--color-accent);*/
}

.search .input__label {
    position: absolute;
    left: 0;
    top: 0;
    /*  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
      background: var(--color-background);*/
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
}
.search input {
    /*  background: var(--color-light);  Uses the variable for dynamic styling 
      color: var(--color-dark);        Ensures text color is from the variable */
}








